{{ ansible_managed | comment }}

# Only SSH2
Protocol 2

# Standard Port and Listen
Port 9922
AddressFamily any
ListenAddress [::]:9922
ListenAddress 0.0.0.0:9922


# Allowed Host Keys
{% for o in sshd_host_key_types %}
HostKey {{ sshd_path }}/ssh_host_{{ o.type }}_key
{% endfor %}

# Privilege Separation and Strict File Permissions
UsePrivilegeSeparation yes
StrictModes yes

# Logging
SyslogFacility AUTH
LogLevel INFO

# Client Authentication
{% if sshd_allow_groups_enabled %}
AllowGroups{% for group in sshd_allow_groups %} {{ group }}{% endfor %}

{% endif %}
# TODO: move authorized keys to a root only location
AuthorizedKeysFile %h/.ssh/authorized_keys
ChallengeResponseAuthentication no
HostbasedAuthentication no
LoginGraceTime 10
MaxAuthTries 2
MaxSessions 10
MaxStartups 2
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin {{ sshd_permit_root_login }}
PubkeyAuthentication yes
UsePAM no

# Algorithms
Ciphers {{ sshd_ciphers | join(',') }}
KexAlgorithms {{ sshd_kex_algos | join(',') }}
MACs {{ sshd_macs | join(',') }}

# X11
X11Forwarding no

# Motd
PrintMotd no
PrintLastLog yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# Allow SFTP Subsystem
Subsystem sftp /usr/lib/openssh/sftp-server

# Keep Alive
ClientAliveInterval 120
ClientAliveCountMax 2
TCPKeepAlive yes

